:root {
    --red: rgb(255, 0, 0);
    --orange: rgb(255, 168, 6);
    --black: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.calc-box {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

textarea {
    border: none;
    resize: none;
    font-size: 1.5rem;
    text-align: right;
}

.calc-buttons {
    display: grid;
    grid-template-rows: repeat(5, 10fr);
    grid-template-columns: repeat(4, 10fr);
    row-gap: 5px;
    column-gap: 2px;
}

button {
    border: none;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.red {
    background-color: var(--red);
    color: white;
}

.less-red {
    background-color: rgb(179, 4, 4)
}

.orange {
    background-color: var(--orange);
    color: white;
}

.black {
    background-color: var(--black);
    color: white;
}

.less-black {
    background-color: rgb(155, 153, 153);
    color: white;
}

.grey {
    background-color: darkgray;
    color: white;
}

.less-grey {
    background-color: rgb(39, 39, 39);
    color: white;
}


/*font family oswald*/

button {
    padding: 25px;
}