* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.calc-box {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

.calc-buttons {
    display: grid;
    grid-template-rows: repeat(5, 10fr);
    grid-template-columns: repeat(4, 10fr);
    row-gap: 5px;
    column-gap: 2px;
}

.calc-screen {}


/*font family oswald*/

button {
    padding: 25px;
}